[submodule "bettertls"]
	path = bettertls
	url = git@github.com:PwnVerse/bettertls.git 
[submodule "gnutls"]
	path = gnutls
	url = git@github.com:gnutls/gnutls.git
[submodule "openssl"]
	path = openssl
	url = git@github.com:openssl/openssl.git
[submodule "botan"]
	path = botan
	url = git@github.com:randombit/botan.git
[submodule "envoy"]
	path = envoy
	url = git@github.com:envoyproxy/envoy.git
